

.user {
  background-color:rgb(250, 220, 232);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  color:rgb(209, 96, 175);
  gap: 20px;
  
}
.carte{
  background-color: #ffffffd3;
  margin-left: 130px;
  border-radius: 18px;
}
.carte.card{
  border-radius: 18px;
  border:none;
}

.card-body{
  border-radius: 18px 18px 0px 0px;
background-color:#CBF2F7;
text-align: center;
}u{
  color:#DDA2AD;
}
